<?xml version="1.0" encoding="UTF-8"?>

<!--Example logback configuration using a SocketAppender -->

<configuration>
    <!--
      You should send data to Splunk using TCP inputs. You can find the documentation
      on how to open TCP inputs on Splunk at

          http://docs.splunk.com/Documentation/Splunk/6.0.1/Data/Monitornetworkports

      You can find the documentation on using a SocketAppender at

          http://logback.qos.ch/manual/appenders.html#SocketAppender

      This example assumes that you have Splunk running on your local machine (127.0.0.1) with a
      TCP input configured on port 10000. Note that TCP inputs are *not* the same as
      Splunk's management port.

      You can control the format of what is logged by changing the encoder (see

          http://logback.qos.ch/manual/encoders.html

      for details), but the pattern below produces a simple timestamp, followed by
      the full message and a newline, rather like

          2012-04-26 14:54:38,461 [%thread] %level text of my event
    -->
    <appender name="socket" class="com.splunk.logging.TcpAppender">
        <RemoteHost>127.0.0.1</RemoteHost>
        <Port>15000</Port>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%level: %msg%n</pattern>
        </layout>
    </appender>

    <logger name="splunk.logger" additivity="false" level="INFO">
        <appender-ref ref="socket"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="socket"/>
    </root>
</configuration>
